In [1]:
import os

os.chdir("..")
print(os.getcwd())

/Users/ayushmaanbhatia/Documents/ott-business-analysis

In [2]:
%pip install pandas numpy matplotlib seaborn requests

Requirement already satisfied: pandas in ./venv/lib/python3.14/site-packages (2.3.3)
Requirement already satisfied: numpy in ./venv/lib/python3.14/site-packages (2.4.0)
Requirement already satisfied: matplotlib in ./venv/lib/python3.14/site-packages (3.10.8)
Requirement already satisfied: seaborn in ./venv/lib/python3.14/site-packages (0.13.2)
Requirement already satisfied: requests in ./venv/lib/python3.14/site-packages (2.32.5)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.14/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.14/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.14/site-packages (from pandas) (2025.3)
Requirement already satisfied: contourpy>=1.0.1 in ./venv/lib/python3.14/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.14/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./venv/lib/python3.14/site-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./venv/lib/python3.14/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in ./venv/lib/python3.14/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in ./venv/lib/python3.14/site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in ./venv/lib/python3.14/site-packages (from matplotlib) (3.3.1)
Requirement already satisfied: charset_normalizer<4,>=2 in ./venv/lib/python3.14/site-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in ./venv/lib/python3.14/site-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./venv/lib/python3.14/site-packages (from requests) (2.6.2)
Requirement already satisfied: certifi>=2017.4.17 in ./venv/lib/python3.14/site-packages (from requests) (2025.11.12)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.14/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np

print("Setup done")

Setup done

In [4]:
movies = pd.read_csv("data/movies.csv")
tv_shows = pd.read_csv("data/tv_shows.csv")

print("Movies shape:", movies.shape)
print("TV Shows shape:", tv_shows.shape)

Movies shape: (9515, 11)
TV Shows shape: (5368, 12)

In [5]:
movies.columns

Index(['Unnamed: 0', 'ID', 'Title', 'Year', 'Age', 'Rotten Tomatoes',
       'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'Type'],
      dtype='object')

In [6]:
tv_shows.columns

Index(['Unnamed: 0', 'ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes',
       'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'Type'],
      dtype='object')

In [7]:
movies.info

<bound method DataFrame.info of       Unnamed: 0    ID                                     Title  Year  Age  \
0              0     1                              The Irishman  2019  18+
1              1     2                                    Dangal  2016   7+
2              2     3  David Attenborough: A Life on Our Planet  2020   7+
3              3     4         Lagaan: Once Upon a Time in India  2001   7+
4              4     5                                      Roma  2018  18+
...          ...   ...                                       ...   ...  ...
9510        9510  9511                        Most Wanted Sharks  2020  NaN
9511        9511  9512             Doc McStuffins: The Doc Is In  2020  NaN
9512        9512  9513                     Ultimate Viking Sword  2019  NaN
9513        9513  9514           Hunt for the Abominable Snowman  2011  NaN
9514        9514  9515       Women of Impact: Changing the World  2019   7+

     Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney+  Type
0             98/100        1     0            0        0     0
1             97/100        1     0            0        0     0
2             95/100        1     0            0        0     0
3             94/100        1     0            0        0     0
4             94/100        1     0            0        0     0
...              ...      ...   ...          ...      ...   ...
9510          14/100        0     0            0        1     0
9511          13/100        0     0            0        1     0
9512          13/100        0     0            0        1     0
9513          10/100        0     0            0        1     0
9514          10/100        0     0            0        1     0

[9515 rows x 11 columns]>

In [8]:
tv_shows.info

<bound method DataFrame.info of       Unnamed: 0    ID                                  Title  Year  Age  \
0              0     1                           Breaking Bad  2008  18+
1              1     2                        Stranger Things  2016  16+
2              2     3                        Attack on Titan  2013  18+
3              3     4                       Better Call Saul  2015  18+
4              4     5                                   Dark  2017  16+
...          ...   ...                                    ...   ...  ...
5363        5363  5713                       Paradise Islands  2017  NaN
5364        5364  5714                         Mexico Untamed  2018  NaN
5365        5365  5715                  Wild Centeral America  2020  NaN
5366        5366  5716                            Wild Russia  2018  NaN
5367        5367  5717  Fearless Adventures with Jack Randall  2018  NaN

        IMDb Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney+  Type
0     9.4/10         100/100        1     0            0        0     1
1     8.7/10          96/100        1     0            0        0     1
2     9.0/10          95/100        1     1            0        0     1
3     8.8/10          94/100        1     0            0        0     1
4     8.8/10          93/100        1     0            0        0     1
...      ...             ...      ...   ...          ...      ...   ...
5363     NaN          10/100        0     0            0        1     1
5364     NaN          10/100        0     0            0        1     1
5365     NaN          10/100        0     0            0        1     1
5366     NaN          10/100        0     0            0        1     1
5367     NaN          10/100        0     0            0        1     1

[5368 rows x 12 columns]>

In [9]:
movies.head(10)

,Unnamed: 0,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,The Irishman,2019,18+,98/100,1,0,0,0,0
1,1,2,Dangal,2016,7+,97/100,1,0,0,0,0
2,2,3,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0
3,3,4,Lagaan: Once Upon a Time in India,2001,7+,94/100,1,0,0,0,0
4,4,5,Roma,2018,18+,94/100,1,0,0,0,0
5,5,6,To All the Boys I've Loved Before,2018,13+,94/100,1,0,0,0,0
6,6,7,The Social Dilemma,2020,13+,93/100,1,0,0,0,0
7,7,8,Okja,2017,13+,92/100,1,0,0,0,0
8,8,9,The Ballad of Buster Scruggs,2018,16+,92/100,1,0,0,0,0
9,9,10,The Trial of the Chicago 7,2020,18+,92/100,1,0,0,0,0

In [10]:
tv_shows.head(10)

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
5,5,6,Avatar: The Last Airbender,2005,7+,9.3/10,93/100,1,0,1,0,1
6,6,7,Peaky Blinders,2013,18+,8.8/10,93/100,1,0,0,0,1
7,7,8,The Walking Dead,2010,18+,8.2/10,93/100,1,0,0,0,1
8,8,9,Black Mirror,2011,18+,8.8/10,92/100,1,0,0,0,1
9,9,10,The Queen's Gambit,2020,18+,8.6/10,92/100,1,0,0,0,1

In [11]:
movies_clean = movies.copy()
tv_shows_clean = tv_shows.copy()

In [12]:
columns_to_drop = ["Unnamed: 0", "ID", "IMDb", "Type"]

movies_clean.drop(columns=[c for c in columns_to_drop if c in movies_clean.columns], inplace=True)
tv_shows_clean.drop(columns=[c for c in columns_to_drop if c in tv_shows_clean], inplace=True)

In [13]:
movies_clean["Content_type"] = "Movie"
tv_shows_clean["Content_type"] = "TV Show"

In [14]:
movies_clean.columns

Index(['Title', 'Year', 'Age', 'Rotten Tomatoes', 'Netflix', 'Hulu',
       'Prime Video', 'Disney+', 'Content_type'],
      dtype='object')

In [15]:
tv_shows_clean.columns

Index(['Title', 'Year', 'Age', 'Rotten Tomatoes', 'Netflix', 'Hulu',
       'Prime Video', 'Disney+', 'Content_type'],
      dtype='object')

In [16]:
def clean_rotten_tomatoes(score):
    if pd.isna(score):
        return None
    return int(score.split("/")[0])

In [17]:
movies_clean["Rotten_Tomatoes"] = movies_clean["Rotten Tomatoes"].apply(clean_rotten_tomatoes)
tv_shows_clean["Rotten_Tomatoes"] = tv_shows_clean["Rotten Tomatoes"].apply(clean_rotten_tomatoes)

In [18]:
movies_clean.drop(columns=["Rotten Tomatoes"], inplace=True, errors="ignore")
tv_shows_clean.drop(columns=["Rotten Tomatoes"], inplace=True, errors="ignore")

In [19]:
platform_columns = ["Netflix", "Hulu", "Prime Video", "Disney+"]

In [20]:
movies_unpivot = movies_clean.melt(
    id_vars= [c for c in movies_clean.columns if c not in platform_columns],
    value_vars= platform_columns,
    var_name= "Platform",
    value_name = "is_available"
)

In [21]:
movies_final = movies_unpivot[movies_unpivot["is_available"] == 1]

In [22]:
movies_final = movies_final.drop(columns=['is_available'])

In [23]:
movies_final.head()

,Title,Year,Age,Content_type,Rotten_Tomatoes,Platform
0,The Irishman,2019,18+,Movie,98.0,Netflix
1,Dangal,2016,7+,Movie,97.0,Netflix
2,David Attenborough: A Life on Our Planet,2020,7+,Movie,95.0,Netflix
3,Lagaan: Once Upon a Time in India,2001,7+,Movie,94.0,Netflix
4,Roma,2018,18+,Movie,94.0,Netflix

In [24]:
movies_final["Platform"].value_counts()

Platform
Prime Video    4113
Netflix        3695
Hulu           1047
Disney+         922
Name: count, dtype: int64

In [25]:
movies_final["Content_type"].unique()

array(['Movie'], dtype=object)

In [26]:
tv_shows_unpivot = tv_shows_clean.melt(
    id_vars= [c for c in tv_shows_clean.columns if c not in platform_columns],
    value_vars= platform_columns,
    var_name= "Platform",
    value_name= "is_available"
)

In [27]:
tv_shows_final = tv_shows_unpivot[tv_shows_unpivot["is_available"] == 1]

In [28]:
tv_shows_final = tv_shows_final.drop(columns=["is_available"])

In [29]:
tv_shows_final.head()

              Title  Year  Age Content_type  Rotten_Tomatoes Platform
0      Breaking Bad  2008  18+      TV Show              100  Netflix
1   Stranger Things  2016  16+      TV Show               96  Netflix
2   Attack on Titan  2013  18+      TV Show               95  Netflix
3  Better Call Saul  2015  18+      TV Show               94  Netflix
4              Dark  2017  16+      TV Show               93  Netflix

In [30]:
tv_shows_final["Platform"].value_counts()

Platform
Netflix        1971
Prime Video    1831
Hulu           1621
Disney+         351
Name: count, dtype: int64

In [31]:
tv_shows_final["Content_type"].unique()

array(['TV Show'], dtype=object)

In [32]:
#Converting Rotten_Tomatoes column in both tables so that they are both in the same format, and not 95.0/ 95
movies_final["Rotten_Tomatoes"] = movies_final["Rotten_Tomatoes"].astype("Int64")
tv_shows_final["Rotten_Tomatoes"] = tv_shows_final["Rotten_Tomatoes"].astype("Int64")

In [33]:
#Resetting the index for both tables, fresh 0-N index
movies_final.reset_index(drop=True, inplace=True)
tv_shows_final.reset_index(drop=True, inplace=True)

In [34]:
movies_final.head()

,Title,Year,Age,Content_type,Rotten_Tomatoes,Platform
0,The Irishman,2019,18+,Movie,98,Netflix
1,Dangal,2016,7+,Movie,97,Netflix
2,David Attenborough: A Life on Our Planet,2020,7+,Movie,95,Netflix
3,Lagaan: Once Upon a Time in India,2001,7+,Movie,94,Netflix
4,Roma,2018,18+,Movie,94,Netflix

In [35]:
tv_shows_final.head()

              Title  Year  Age Content_type  Rotten_Tomatoes Platform
0      Breaking Bad  2008  18+      TV Show              100  Netflix
1   Stranger Things  2016  16+      TV Show               96  Netflix
2   Attack on Titan  2013  18+      TV Show               95  Netflix
3  Better Call Saul  2015  18+      TV Show               94  Netflix
4              Dark  2017  16+      TV Show               93  Netflix

In [36]:
content_master = pd.concat(
    [movies_final, tv_shows_final],
    ignore_index = True
)

Combining the 2 final tables into 1 content master table

In [37]:
content_master.head()

,Title,Year,Age,Content_type,Rotten_Tomatoes,Platform
0,The Irishman,2019,18+,Movie,98,Netflix
1,Dangal,2016,7+,Movie,97,Netflix
2,David Attenborough: A Life on Our Planet,2020,7+,Movie,95,Netflix
3,Lagaan: Once Upon a Time in India,2001,7+,Movie,94,Netflix
4,Roma,2018,18+,Movie,94,Netflix

In [38]:
content_master.shape

(15551, 6)

In [39]:
content_master["Content_type"].value_counts()

Content_type
Movie      9777
TV Show    5774
Name: count, dtype: int64

In [40]:
%pip install python-dotenv

Requirement already satisfied: python-dotenv in ./venv/lib/python3.14/site-packages (1.2.1)
Note: you may need to restart the kernel to use updated packages.

In [41]:
from dotenv import load_dotenv
import os

load_dotenv()

TMDB_API_KEY = os.getenv("TMDB_API_KEY")
TMDB_API_KEY

'f4382fb16908c2007e93699ce056e6a8'

In [42]:
import requests

url = "https://api.themoviedb.org/3/configuration"
params = {"api_key": TMDB_API_KEY}

response = requests.get(url, params=params)
response.status_code, response.json().keys()

(200, dict_keys(['change_keys', 'images']))

In [55]:
def search_tmdb(title, content_type, year):
    if pd.isna(title) or pd.isna(content_type):
        return None

    ct_mapped = content_type.lower().strip()
    if ct_mapped not in ["movie", "tv"]:
        return NotImplemented

    url = f"https://api.themoviedb.org/3/search/{ct_mapped}"

    params = {
        "api_key": TMDB_API_KEY,
        "query": title,
        "year": int(year) if not pd.isna(year) else None
    }

    try:
        r = requests.get(url, params=params, timeout=5)
        if r.status_code != 200:
            return None

        results = r.json().get("results", [])
        if not results:
            return None

        best = max(results, key=lambda x: x.get("vote_count", 0))

        return{
            "tmdb_id": best.get("id"),
            "tmdb_rating": best.get("vote_average"),
            "tmdb_vote_count": best.get("vote_count"),
            "tmdb_popularity": best.get("popularity"),
            "tmdb_genres": best.get("genre_ids")
        }

    except Exception:
        return None

In [52]:
content_master = content_master.reset_index(drop=True)
content_master["row_id"] = content_master.index

In [53]:
BATCH_SIZE = 500

total_rows = len(content_master)
num_batches = (total_rows // BATCH_SIZE) + 1

total_rows, num_batches

(15551, 32)

In [57]:
tmdb_results = []

In [94]:
BATCH_SIZE = 500
START_BATCH = 1

In [95]:
num_batches = 32

In [69]:
import time

for batch_num in range(START_BATCH, num_batches):
    tmdb_results = []
    start_idx = batch_num * BATCH_SIZE
    end_idx = min(start_idx + BATCH_SIZE, total_rows)

    print(f"Processing batch {batch_num + 1}/{num_batches} "
          f"(rows {start_idx} to {end_idx - 1})")

    batch_df = content_master.iloc[start_idx:end_idx]

    for _, row in batch_df.iterrows():
        result = search_tmdb(
            title=row["Title"],
            content_type=row["Content_type"],
            year=row["Year"]
        )

        if result:
            result["row_id"] = row["row_id"]
        else:
            result = {
                "row_id": row["row_id"],
                "tmdb_id": None,
                "tmdb_rating": None,
                "tmdb_vote_count": None,
                "tmdb_popularity": None,
                "tmdb_genres": None
            }

        tmdb_results.append(result)

        time.sleep(0.3)


    batch_results_df = pd.DataFrame(tmdb_results)
    batch_results_df.to_csv(
        "tmdb_enrichment_progress.csv",
        mode="a",
        header=not os.path.exists("tmdb_enrichment_progress.csv"),
        index=False
    )

    print(f"Batch {batch_num + 1} saved successfully.\n")

Processing batch 1/1 (rows 0 to 499)
Batch 1 saved successfully.

In [70]:
tmdb_df = pd.read_csv("tmdb_enrichment_progress.csv")

In [71]:
tmdb_df.head()

,tmdb_id,tmdb_rating,tmdb_vote_count,tmdb_popularity,tmdb_genres,row_id
0,398978.0,7.582,7275.0,7.4130,"[80, 18, 36]",0
1,360814.0,7.889,1093.0,4.9289,"[18, 10751, 35]",1
2,664280.0,8.443,405.0,1.5397,"[99, 18]",2
3,19666.0,7.300,614.0,1.8791,"[12, 18, 36]",3
4,426426.0,7.624,4042.0,2.4778,[18],4

In [72]:
tmdb_df["row_id"].is_unique

True

In [73]:
content_master.head(

)

,Title,Year,Age,Content_type,Rotten_Tomatoes,Platform,tmdb_search_key,row_id
0,The Irishman,2019,18+,Movie,98,Netflix,The Irishman | Movie | 2019,0
1,Dangal,2016,7+,Movie,97,Netflix,Dangal | Movie | 2016,1
2,David Attenborough: A Life on Our Planet,2020,7+,Movie,95,Netflix,David Attenborough: A Life on Our Planet | Mov...,2
3,Lagaan: Once Upon a Time in India,2001,7+,Movie,94,Netflix,Lagaan: Once Upon a Time in India | Movie | 2001,3
4,Roma,2018,18+,Movie,94,Netflix,Roma | Movie | 2018,4

In [74]:
content_master_enriched = content_master.merge(
    tmdb_df,
    on="row_id",
    how="left"
)

In [75]:
content_master_enriched.head()

,Title,Year,Age,Content_type,Rotten_Tomatoes,Platform,tmdb_search_key,row_id,tmdb_id,tmdb_rating,tmdb_vote_count,tmdb_popularity,tmdb_genres
0,The Irishman,2019,18+,Movie,98,Netflix,The Irishman | Movie | 2019,0,398978.0,7.582,7275.0,7.4130,"[80, 18, 36]"
1,Dangal,2016,7+,Movie,97,Netflix,Dangal | Movie | 2016,1,360814.0,7.889,1093.0,4.9289,"[18, 10751, 35]"
2,David Attenborough: A Life on Our Planet,2020,7+,Movie,95,Netflix,David Attenborough: A Life on Our Planet | Mov...,2,664280.0,8.443,405.0,1.5397,"[99, 18]"
3,Lagaan: Once Upon a Time in India,2001,7+,Movie,94,Netflix,Lagaan: Once Upon a Time in India | Movie | 2001,3,19666.0,7.300,614.0,1.8791,"[12, 18, 36]"
4,Roma,2018,18+,Movie,94,Netflix,Roma | Movie | 2018,4,426426.0,7.624,4042.0,2.4778,[18]

In [77]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-py3-none-any.whl.metadata (9.5 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Downloading typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Downloading sqlalchemy-2.0.45-py3-none-any.whl (1.9 MB)
    1.9/1.9 MB 3.1 MB/s  0:00:00 eta 0:00:01
Downloading typing_extensions-4.15.0-py3-none-any.whl (44 kB)
Installing collected packages: typing-extensions, sqlalchemy
    2/2 [sqlalchemy]2 [sqlalchemy]
Successfully installed sqlalchemy-2.0.45 typing-extensions-4.15.0
Note: you may need to restart the kernel to use updated packages.

In [78]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///ott_analytics.db")

In [89]:
content_master.head()

,Title,Year,Age,Content_type,Rotten_Tomatoes,Platform,tmdb_search_key,row_id
0,The Irishman,2019,18+,Movie,98,Netflix,The Irishman | Movie | 2019,0
1,Dangal,2016,7+,Movie,97,Netflix,Dangal | Movie | 2016,1
2,David Attenborough: A Life on Our Planet,2020,7+,Movie,95,Netflix,David Attenborough: A Life on Our Planet | Mov...,2
3,Lagaan: Once Upon a Time in India,2001,7+,Movie,94,Netflix,Lagaan: Once Upon a Time in India | Movie | 2001,3
4,Roma,2018,18+,Movie,94,Netflix,Roma | Movie | 2018,4

In [91]:
content_master.drop(columns= "tmdb_search_key")

,Title,Year,Age,Content_type,Rotten_Tomatoes,Platform,row_id
0,The Irishman,2019,18+,Movie,98,Netflix,0
1,Dangal,2016,7+,Movie,97,Netflix,1
2,David Attenborough: A Life on Our Planet,2020,7+,Movie,95,Netflix,2
3,Lagaan: Once Upon a Time in India,2001,7+,Movie,94,Netflix,3
4,Roma,2018,18+,Movie,94,Netflix,4
...,...,...,...,...,...,...,...
15546,Paradise Islands,2017,NaN,TV Show,10,Disney+,15546
15547,Mexico Untamed,2018,NaN,TV Show,10,Disney+,15547
15548,Wild Centeral America,2020,NaN,TV Show,10,Disney+,15548
15549,Wild Russia,2018,NaN,TV Show,10,Disney+,15549
15550,Fearless Adventures with Jack Randall,2018,NaN,TV Show,10,Disney+,15550

In [93]:
content_master.to_csv("content_master.csv", index=False)

In [ ]:
import time
import pandas as pd


BATCH_SIZE = BATCH_SIZE        
total_rows = len(content_master)
num_batches = (total_rows + BATCH_SIZE - 1) // BATCH_SIZE

START_BATCH = 1  


all_tmdb_results = []


for batch_num in range(START_BATCH, num_batches):
    tmdb_results = []

    start_idx = batch_num * BATCH_SIZE
    end_idx = min(start_idx + BATCH_SIZE, total_rows)

    print(
        f"Processing batch {batch_num + 1}/{num_batches} "
        f"(rows {start_idx} to {end_idx - 1})"
    )

    batch_df = content_master.iloc[start_idx:end_idx]

    for _, row in batch_df.iterrows():
        result = search_tmdb(
            title=row["Title"],
            content_type=row["Content_type"],
            year=row["Year"]
        )

        if result:
            result["row_id"] = row["row_id"]
        else:
            result = {
                "row_id": row["row_id"],
                "tmdb_id": None,
                "tmdb_rating": None,
                "tmdb_vote_count": None,
                "tmdb_popularity": None,
                "tmdb_genres": None
            }

        tmdb_results.append(result)
        time.sleep(0.3)  

    all_tmdb_results.extend(tmdb_results)
    print(f"Batch {batch_num + 1} completed.\n")


final_tmdb_df = pd.DataFrame(all_tmdb_results)


assert "row_id" in final_tmdb_df.columns
assert final_tmdb_df["row_id"].is_unique

final_tmdb_df.to_csv(
    "tmdb_enrichment_full.csv",
    index=False
)

print("DONE   tmdb_enrichment_full.csv created (batches 232 only)")

Processing batch 2/32 (rows 500 to 999)
Batch 2 completed.

Processing batch 3/32 (rows 1000 to 1499)
Batch 3 completed.

Processing batch 4/32 (rows 1500 to 1999)
Batch 4 completed.

Processing batch 5/32 (rows 2000 to 2499)
Batch 5 completed.

Processing batch 6/32 (rows 2500 to 2999)
Batch 6 completed.

Processing batch 7/32 (rows 3000 to 3499)
Batch 7 completed.

Processing batch 8/32 (rows 3500 to 3999)
Batch 8 completed.

Processing batch 9/32 (rows 4000 to 4499)
Batch 9 completed.

Processing batch 10/32 (rows 4500 to 4999)
Batch 10 completed.

Processing batch 11/32 (rows 5000 to 5499)
Batch 11 completed.

Processing batch 12/32 (rows 5500 to 5999)
Batch 12 completed.

Processing batch 13/32 (rows 6000 to 6499)
Batch 13 completed.

Processing batch 14/32 (rows 6500 to 6999)
Batch 14 completed.

Processing batch 15/32 (rows 7000 to 7499)
Batch 15 completed.

Processing batch 16/32 (rows 7500 to 7999)
Batch 16 completed.

Processing batch 17/32 (rows 8000 to 8499)
Batch 17 completed.

Processing batch 18/32 (rows 8500 to 8999)
Batch 18 completed.

Processing batch 19/32 (rows 9000 to 9499)
Batch 19 completed.

Processing batch 20/32 (rows 9500 to 9999)

TypeError: NotImplemented should not be used in a boolean context

In [97]:
import pandas as pd

partial_tmdb_df = pd.DataFrame(all_tmdb_results)

In [98]:
print(partial_tmdb_df.shape)
print(partial_tmdb_df.head())

(9000, 6)
    tmdb_id  tmdb_rating  tmdb_vote_count  tmdb_popularity       tmdb_genres  \
0  581859.0        6.450           1141.0           2.7009       [10752, 18]
1   26123.0        5.259           1795.0           4.2376              [35]
2  458131.0        7.400            461.0           1.2192          [18, 36]
3  488623.0        7.900           1258.0           4.5388    [53, 9648, 80]
4  425591.0        6.552           1374.0           1.2698  [53, 18, 80, 35]

   row_id
0     500
1     501
2     502
3     503
4     504

In [99]:
partial_tmdb_df["row_id"].is_unique

True

In [100]:
partial_tmdb_df.to_csv(
    "tmdb_enrichment_batches_2_to_19.csv",
    index=False
)

In [101]:
import os
os.path.exists("tmdb_enrichment_batches_2_to_19.csv")

True

In [ ]:
import time
import pandas as pd


BATCH_SIZE = BATCH_SIZE            
total_rows = len(content_master)
num_batches = (total_rows + BATCH_SIZE - 1) // BATCH_SIZE

START_BATCH = 19   


all_tmdb_results = []


for batch_num in range(START_BATCH, num_batches):
    tmdb_results = []

    start_idx = batch_num * BATCH_SIZE
    end_idx = min(start_idx + BATCH_SIZE, total_rows)

    print(
        f"Processing batch {batch_num + 1}/{num_batches} "
        f"(rows {start_idx} to {end_idx - 1})"
    )

    batch_df = content_master.iloc[start_idx:end_idx]

    for _, row in batch_df.iterrows():
        result = search_tmdb(
            title=row["Title"],
            content_type=row["Content_type"],
            year=row["Year"]
        )

        
        if isinstance(result, dict):
            result["row_id"] = row["row_id"]
        else:
            result = {
                "row_id": row["row_id"],
                "tmdb_id": None,
                "tmdb_rating": None,
                "tmdb_vote_count": None,
                "tmdb_popularity": None,
                "tmdb_genres": None
            }

        tmdb_results.append(result)
        time.sleep(0.3)  

    all_tmdb_results.extend(tmdb_results)
    print(f"Batch {batch_num + 1} completed.\n")


final_tmdb_df = pd.DataFrame(all_tmdb_results)


assert "row_id" in final_tmdb_df.columns
assert final_tmdb_df["row_id"].is_unique

final_tmdb_df.to_csv(
    "tmdb_enrichment_batches_20_to_32.csv",
    index=False
)

print("DONE  tmdb_enrichment_batches_20_to_32.csv created")

Processing batch 20/32 (rows 9500 to 9999)
Batch 20 completed.

Processing batch 21/32 (rows 10000 to 10499)
Batch 21 completed.

Processing batch 22/32 (rows 10500 to 10999)
Batch 22 completed.

Processing batch 23/32 (rows 11000 to 11499)
Batch 23 completed.

Processing batch 24/32 (rows 11500 to 11999)
Batch 24 completed.

Processing batch 25/32 (rows 12000 to 12499)
Batch 25 completed.

Processing batch 26/32 (rows 12500 to 12999)
Batch 26 completed.

Processing batch 27/32 (rows 13000 to 13499)
Batch 27 completed.

Processing batch 28/32 (rows 13500 to 13999)
Batch 28 completed.

Processing batch 29/32 (rows 14000 to 14499)
Batch 29 completed.

Processing batch 30/32 (rows 14500 to 14999)
Batch 30 completed.

Processing batch 31/32 (rows 15000 to 15499)
Batch 31 completed.

Processing batch 32/32 (rows 15500 to 15550)
Batch 32 completed.

DONE  tmdb_enrichment_batches_20_to_32.csv created